/**************************
 * Div Framework Admin Styles
 **************************/
 .DT_title{font-weight:bold;}
#wp-admin-bar-wp-logo > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
  background: url(../images/admin-logo.png) no-repeat center center;
  background-size: 20px 20px;
}
#toplevel_page_acf-options-theme-settings{
	display: none !important;
}

.repeater .widefat th.image{
	width:40px !important;
}
.repeater .widefat th.link{
	width:225px !important;
}
.repeater .widefat th.action{
	width:225px !important;
}

/**************************
 * Social Media Checkboxes
 **************************/
#acf_acf_social-media-details{
	#acf-social_options{
		.checkbox{
			overflow: hidden;
			display: block;
			li{
				float: left;
				margin-right: 5px;
				input {
					display: none;
				}
				label {
					background: url(../images/social-sprite-white.png) no-repeat #ccc;
					width: 30px;
					height: 30px;
					display:block;
			    	padding: 0 0 0 0px;
			    	border-radius: 50%;
			    	text-indent: -9999px;
			    	&:hover{
						background-color: #666;
					}
					&.active{
						background-color: #333;
					}
				}
				// label > input:active{
				// 	background-color: #333;
				// }

				// Email
				&:nth-child(1) label{
					background-position: -404px -4px;
				}
				// Facebook
				&:nth-child(2) label{
					background-position: -44px -4px;
				}
				// Flicker
				&:nth-child(3) label{
					background-position: -284px -4px;
				}
				// Goodreads
				&:nth-child(4) label{
					background-position: -484px -4px;
				}
				// Google
				&:nth-child(5) label{
					background-position: -85px -5px;
				}
				// Instagram
				&:nth-child(6) label{
					background-position: -244px -5px;
				}
				// LinkedIn
				&:nth-child(7) label{
					background-position: -124px -5px;
				}
				// Pinterest
				&:nth-child(8) label{
					background-position: -164px -4px;
				}
				// RSS
				&:nth-child(9) label{
					background-position: -4px -5px;
				}
				// Twitter
				&:nth-child(10) label{
					background-position: -204px -4px;
				}
				// YouTube
				&:nth-child(11) label{
					background-position: -325px -5px;
				}
				// Div Truth
				&:nth-child(12) label{
					background-position: -525px -5px;
				}
			}
		}
	}
}

h2 .title{
	font-family: serif;
	font-size: 12px;
	font-style: italic;
	color: #999;
}